<h1>Eat-Da-Burger!</h1>
<div id="t" style="display: none">
    <img class="bgImage" src="{{public/assets/images/asset.png}}">
</div>

<h2>Insert Your Burger and Devour It!</h2>

<ul>
    {{#each burgers}}
    <h2>double animal style</h2>
    {{!-- {{#unless devoured}}
    
    {{/unless}} --}}
    {{/each}}
</ul>

<h2>Yum!! Would You Like Another Burger?</h2>
<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger!</h2>
  <form method="POST" action="api/burgers/{{this.id}}">
        <input type="text" name="burger_name">
        <button type="submit">Enter Your Burger!</button>
    </form>